<th:block th:fragment="langs">
	<a class="dropdown-item lang_dropdown-item" href=""
	data-bs-language-code="ru_RU"> <img src="images/flags/ru.svg"
	alt="icon" width="20" height="15"> Русский
	</a>
	<a class="dropdown-item lang_dropdown-item" href=""
		data-bs-language-code="en_US"> <img src="images/flags/us.svg"
		alt="icon" width="20" height="15"> English (US)
	</a>
	<a class="dropdown-item lang_dropdown-item" href=""
		data-bs-language-code="es_ES"> <img src="images/flags/es.svg"
		alt="icon" width="20" height="15"> Español
	</a>
	<a class="dropdown-item lang_dropdown-item" href=""
		data-bs-language-code="fr_FR"> <img src="images/flags/fr.svg"
		alt="icon" width="20" height="15"> Français
	</a>
	<a class="dropdown-item lang_dropdown-item" href=""
		data-bs-language-code="it_IT"> <img src="images/flags/it.svg"
		alt="icon" width="20" height="15"> Italiano
	</a>
</th:block>
